
<!doctype html>
<html lang="en">
  <head>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>DocumentsUpload</title>
  </head>
  <body>
    <div class="container">
      <h2 style="color: white;">Basic Progress Bar</h2>
      <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:80%;background-color:rgb(109, 238, 152);">
              <strong>80%</strong>
          </div>
      </div>
  </div>
      <p>Documents upload</p>
    <form class="form-inline">
      <div class="cont col-sm-4">
       <table>
           <tr>
               <td>Pan card</td>
               <td><input type="file" class="form-control" id="pan"></td>
           
               <td class="upload-btn"><button type="submit" class="btn btn-primary mb-2">UPLOAD</button></td>
          </tr>
        <tr>
          <td>Voter Id</td>
          <td><input type="file" class="form-control" id="voterid"></td>
          <td class="upload-btn"><button type="submit" class="btn btn-primary mb-2">UPLOAD</button></td>
        </tr>
        <tr>
            <td>Salary Slip</td>
            <td><input type="file" class="form-control" id="salslip"></td>
          <td class="upload-btn"><button type="submit" class="btn btn-primary mb-2">UPLOAD</button></td>
        </tr>
          <tr>
            <td>LOA</td>
            <td><input type="file" class="form-control" id="loa"></td>
          <td class="upload-btn"><button type="submit" class="btn btn-primary mb-2">UPLOAD</button></td>
        </tr>
          <tr>
            <td>Agreement To Sale</td>
            <td><input type="file" class="form-control" id="sale"></td>
          <td class="upload-btn"><button type="submit" class="btn btn-primary mb-2">UPLOAD</button></td>
        </tr>
          <tr>
            <td>NOC from Builder</td>
            <td><input type="file" class="form-control" id="noc"></td>
            <td class="upload-btn"><button type="submit" class="btn btn-primary mb-2">UPLOAD</button></td>
          </tr>
          <tr><td colspan="3">
            <div class="d-grid gap-2 col-6 mx-auto">
            <button  name="psubmit" class="btn btn-primary btn-lg" >Submit</button>
            </div>
        </td>
    </table>
      </div>
      </form>
      <div class="col-sm-4">

      </div>
      
</body>
</html>
